
    <!-- Header End -->
    {% load static %}
    {% block content  %}
    {% include 'header.html' %}

    <!-- About Start -->
  
    <!-- About End -->


    <!--  Quote Request Start -->
   
    <!-- Quote Request Start -->


    <!-- Services Start -->

    <!-- Services End -->


    <!-- Features Start -->
  
    <!-- Features End -->


    <!-- Pricing Plan Start -->
   
    <!-- Pricing Plan End -->


    <!-- Team Start -->
   
    <!-- Team End -->


    <!-- Testimonial Start -->
 
    <!-- Testimonial End -->


    <!-- Blog Start -->
   
    <!-- Blog End -->


    <!-- Footer Start -->
   {% include 'footer.html' %}
   {% endblock %}